{% load static %}

<!DOCTYPE html>
<html>

<head lang="en">
    <title>tutor_system</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>


</head>

<body>
<div id="app"
  {% if request.user.is_authenticated %}
    loginState="true"
    userName="{{ request.user.username }}"
  {% else %}
    loginState="false"
  {% endif %}
></div>

<!-- cram_system -->
<script src="{% static 'js/bundle/app_all_student.bundle.js' %}"></script>

</body>

</html>
